/README.bbl
/README.tex
/_minted-README/
/org-special-block-extras.elc
/org-special-block-extras.tex
/org-special-block-extras.html
/org-special-block-extras.pdf
/org-special-block-extras.bbl
/_minted-org-special-block-extras/
/_minted-index/
/index.bbl
/index.tex
/mwe.html
/mwe.bbl
/ltximg/
**/.DS_Store

/tests/indent.log
/indent.log
